<footer class="footer footer-1 bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <ul class="social-links">
          <!-- <li><a href="#"><i class="icon-facebook"></i></a></li> -->
          <li><a href="https://twitter.com/x05x37" target="_blank"><i class="icon-twitter"></i></a></li>
          <!-- <li><a href="#"><i class="icon-youtube-alt"></i></a></li> -->
          <li><a href="https://vimeo.com/x05x37" target="_blank"><i class="icon-vimeo"></i></a></li>
        </ul>
      </div>

      <div class="col-sm-4 text-center">
        <p class="sub">
          We might need to settle on a license at some point. <br /> Some open source in any case :)
        </p>
      </div>

      <div class="col-sm-4 text-right">
        <a href="#">
          <img class="logo" alt="0x375" src="{{ "/assets/img/logo-dark.png" | prepend: site.baseurl }}">
        </a>
      </div>
    </div>
  </div>
</footer>
