<footer class="footer footer-1 bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        Made with &hearts; in SKG.
      </div>

      <div class="col-sm-6">
        <p class="sub text-center">
          For details or usage rights of presentations and other material you may ask their authors.
          <br />
          Do whatever you want with the rest, we don't realy care. :)
        </p>
      </div>

      <div class="col-sm-3 text-right">
        <a href="#">
          0x375
        </a>
      </div>
    </div>
  </div>
</footer>
