<section class="section-divider textdivider divider6">
  <div class="container">
    <h1>WITH &hearts; FROM SKG.</h1>
    <hr>
    <p>Feel free to get in touch or something.</p>
    <p><a class="icon icon-twitter" href="#"></a> | <a class="icon icon-github" href="#"></a></p>
  </div><!-- container -->
</section><!-- section -->

<!-- jQuery -->
<script src="{{ "/assets/js/jquery.min.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ "/assets/js/jquery.easing.1.3.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/smoothscroll.js" | prepend: site.baseurl }}"></script>

<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/assets/js/retina.js" | prepend: site.baseurl }}"></script>
