<div id="navbar-main">
  <!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon" style="font-size:30px; color:#3498db;">#0x375</span>
        </button>
        <a class="navbar-brand hidden-xs hidden-sm" href="/"><span class="icon" style="font-size:18px; color:#3498db;">#0x375</span></a>
      </div>
      <div class="navbar-collapse collapse">

        <ul class="nav navbar-nav">
          {% for page in site.pages %}
            {% if page.title %}
            <li>
              <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
